.wrapper {
  position: relative;
  z-index: 10;
  margin: $margin-center;
  max-width: 900px;
}

// Premier Block
.premier-block {
  @include backImage("../assets/section1-bg.png");
  position: relative;
  padding: 20px;

  &__small-stars {
    @extend %block-animation;
    @include backImage("../assets/Animation-image-02.svg");
    animation: motion 4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
    transform-origin: 100% 50%;
  }
  @keyframes motion {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
  }

  &__big-stars {
    @extend %block-animation;
    @include backImage("../assets/Animation-image-01.svg");
    animation: emersion 5s cubic-bezier(0.64, 0, 0.78, 0) infinite;
  }

  @keyframes emersion {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }

  &__wrapp-premier-content {
    display: block;
    max-width: 430px;
    margin: 200px auto 280px;
  }

  &__logo {
    display: block;
    transition: all 0.3s ease-in-out;
    width: 63px;
    height: 63px;
    margin: $margin-center;

    &:hover {
      transform: rotateY(180deg) scale(1.4);
    }
  }

  &__title {
    @include title($secondary-fonts, $white);
    padding: 15px 0 20px;
  }

  &__sub-title {
    @include sub-title($neu-white)
  }
}

// Article Block
.article-block {
  position: relative;
  z-index: 10;
  padding: 85px 20px 100px;
  background: $whisper;

  &__title {
    @include title($secondary-fonts);
    margin-bottom: 40px;
  }

  &__sub-title {
    @include sub-title($granite-gray);
    margin: 40px 0 40px;
  }

  &__wrapper-paragraph {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 40px;
  }

  &__paragraph {
    width: 400px;
    padding: 10px;
    margin: $margin-center;
    font: 16px/22px $primary-fonts;
    color: $black;
  }

  .read-more-btn {
    @extend %btn;
    border-radius: 18px;
    padding: 5px 18px;
    transform: rotate(0);
    transform-origin: left top;
    background: $blue;
    font: 400 14px/26px $secondary-fonts;
    letter-spacing: 2px;
    text-align: center;

    &:hover {
      transform: rotate(10deg);
    }
  }
}

// Video Block
.video-block {
  @include backImage("../assets/section3-bg.png");
  position: relative;
  padding: 85px 0 90px 55px;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $filter-bacground;
  }

  &__title {
    @include title($secondary-fonts);
    color: $white;
  }

  &__sub-title {
    @include sub-title($granite-gray);
    color: $white;
  }
}

.play-btn {
  @extend %btn;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 55px auto 70px;
  background: $blue;

  &:hover {
    background: $white;
  }

  svg {
    path {
      transition: all 0.5s ease;
    }

    &:hover path {
      fill: $blue;
    }
  }
}
