%block-animation {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

%btn {
  display: block;
  border: none;
  text-align: center;
  transition: all 0.5s ease;
  margin: $margin-center;
  cursor: pointer;
  color: $white;
}
