// Header
.header {
  display: flex;
  align-items: center;

  &__link {
    flex: 1 1 110px;
    text-transform: uppercase;
    font: 600 20px $primary-fonts;
    letter-spacing: 2px;
    color: $white;
  }
}

// Navbar
.navbar {
  flex: 2 1 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
  }

  &__item {
    transition: all 0.3s ease-in-out;
    margin: 0 15px;

    &:hover {
      box-shadow: 0 2px 0 $white;
    }
  }

  &__link {
    display: block;
    padding: 5px 0;
    font: 200 14px $primary-fonts;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $white;
  }
}

// Hamberger
.hamburger {
  display: none;
  .bar {
    display: block;
    transition: all 0.3s ease-in-out;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: $white;
  }
}
