@mixin backImage($image, $height: 100%) {
  background: url($image);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height;
}

@mixin title($fontFamily, $color: $black) {
  font-family: $fontFamily;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
  color: $color;
}

@mixin sub-title($color) {
  font: 24px/32px $primary-fonts;
  text-align: center;
  color: $color;
}