@media only screen and (max-width: 768px) {

  .header {
    padding: 0 50px;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    &.active .bar {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .premier-block {
    background-position: right 0;
    &__small-stars,
    &__big-stars {
      background-position: right 0;
    }

    &__wrapp-premier-content {
      padding: 0 50px;
    }
  }

  .article-block {
    padding: 85px 50px 100px;

    &__title,
    &__sub-title,
    &__paragraph {
      margin: 0 0 25px 0;
      padding: 0;
      width: 100%;
      text-align: left;
      br {
        display: none;
      }
    }

    .read-more-btn {
      margin: 0;
    }
  }

  .video-block {
    padding: 85px 50px 90px;
    text-align: center;
  }

  .footer {
    &__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__item {
      margin: 15px 0;
    }
  }
}
